@font-face {
    font-family: Exo-Regular;
    src: url("Fonts/exo/Exo-Regular.otf") format("opentype");
}
/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    background-color: lightgray;
}


/*
 * Global add-ons
 */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
    border: 0;
    color: #000;
}

.icon-bar {
    color: #000;
}

.nav-btn-color {
    color: #000;
}

.nav-btn-color:hover {
    color: #000;
}

.page-title {
    font-family: Exo-Regular;
}

.page-header {
    z-index: 1;
    top: 60px;
    margin: 0 auto;
    width: 100%;
    position: absolute;
    border-bottom-color: transparent;
    background: transparent;
    color: #FFF;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.page-header:hover {
    color: darkgray;
}

.myCarousel {
    position: relative;
    z-index: -1;
    max-height: 1250px;
}

.orfeon-para {
    text-align: justify;
}

/*
 * Main content
 */


.main .page-header {
    margin-top: 0;
    font-family: Exo-Regular;
}

/* Bottom information and links. */
.facebook {
    color: #3b5998;
    padding-left: 10px;
}

.twitter {
    color: #00aced;
    padding-left: 10px;
}

.tumblr {
    color: #32506d;
    padding-left: 10px;
}

.bottom-tag {
    color: gray;
}