@font-face {
    font-family: Quicksand-Regular;
    src: url("quicksand/Quicksand-Regular.otf") format("opentype");
}

/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    background-color: lightgrey;
}

/*
 * Header title and add note button styling.
 */
.navbar-header {
    float: none;
    margin-right: -15px;
    margin: 0px !important;
    padding-top: 15px;
    text-align: center;
    width: 100%;
}

.navbar-brand {
    float:none;
    padding-left: 50px;
    font-family: Quicksand-Regular;
}

.navbar-fixed-top .navbar-brand {
    color: #ffffff;
}

.navbar-fixed-top {
    border: 0;
    background-color: #006561;
}

.note-button {
    float: right;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: #006561;
    border-color: #FFFFFF;
}

.note-button:hover {
    background-color: #1D7471 !important;
}

.note-button:active, .note-button:focus {
    background-color: #006561 !important;
}

.fa-plus {
    color: #FFFFFF;
}

/*
* Styling for table that contains the notes.
*/
.table-editable {
    position: relative;
}

.table-title {
    padding-left: 20px !important;
}

.chevron {
    width: 15px !important;
    padding-right: 0px !important;
    padding-left: 20px !important;
}

.note-text {
    padding-left: 0px !important;
}

.table-remove {
    color: #006561;
    cursor: pointer;

&:hover {
     color: #006561;
 }
}

#content {
    height: 30px;
}

/*
* Styling for button in footer.
*/

.footer {
    position: fixed;
    background-color: #1D7471;
    bottom: 0px;
    width: 100%;
}

.bottom-nav {
    background-color: #1D7471;
    border-color: #1D7471;
    text-align: center;
    font-family: Quicksand-Regular;
    width: 100%;
}

.bottom-nav:hover, .bottom-nav:active, .bottom-nav:focus {
    background-color: #006561 !important;
    border-color: #006561;
}

